@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showUpWithScale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1.3);
  }
}

@keyframes welcomeAnimation {
  0% {
    width: 100%;
  }
  60% {
    width: 25%;
  }
  100% {
    width: 0%;
    z-index: 0;
    display: none;
    background-color: none;
  }
}

@keyframes placeholder {
  0% {
    font-size: 1.8rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(#0c28a6, 0.7),
      rgba(#60c0e0, 0.7)
    );
  }
  25% {
    font-size: 2rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(#0c28a6, 0.7),
      rgba($color-black, 0.7)
    );
  }
  75% {
    background-image: linear-gradient(
      to right bottom,
      rgba(#0c28a6, 0.7),
      rgba(#60c0e0, 0.7)
    );
  }
  100% {
    background-image: linear-gradient(
      to right bottom,
      rgba(#0c28a6, 0.7),
      rgba($color-black, 0.7)
    );
    font-size: 1.8rem;
  }
}

@keyframes pseudoWelcome {
  0% {
    height: 100%;
    content: '';
  }
  25% {
    content: 'H';
    transition: all 0.2s;
    text-shadow: 0 3rem 6rem rgba($color-black, 0.4);
  }
  30% {
    content: 'Hi';
    transition: all 0.2s;
    text-shadow: 0 3rem 6rem rgba($color-black, 0.6);
  }
  35% {
    content: 'Hi.';
    transition: all 0.2s;
  }
  50% {
    content: '';
    width: 100%;
  }
  65% {
    content: '';
    width: 80%;
  }
  100% {
    width: 0%;
    content: '';
  }
}

@keyframes arrowRight {
  0% {
    fill: #3c873a;
  }
  30% {
    fill: darken(#3c873a, 20%);
    transform: rotate(180deg);
  }

  50% {
    fill: #3c873a;
  }
  80% {
    fill: darken(#3c873a, 20%);
  }
  100% {
    transform: rotate(360deg);
    fill: #3c873a;
  }
}
@keyframes arrowLeft {
  0% {
    fill: #3c873a;
  }
  30% {
    fill: lighten(#3c873a, 20%);
    transform: rotate(-180deg);
  }

  50% {
    fill: #3c873a;
  }
  80% {
    fill: lighten(#3c873a, 20%);
  }
  100% {
    transform: rotate(-360deg);
    fill: #3c873a;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
  }
  50% {
    transform: translateX(7rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(-7rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes modalOpen {
  0% {
    height: 0;
  }
  100% {
    height: calc(100vh - 20rem);
  }
}
@keyframes modalOpenMobile {
  0% {
    height: 0;
  }
  100% {
    height: calc(100vh - 25rem);
  }
}

@keyframes modalLine {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateX(-7rem);
  }
  100% {
    transform: translateX(0);
  }
}
