*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;

    @media only screen and(max-width: $bp-largest){
        font-size: 55%;
    }
    @media only screen and(max-width: $bp-large){
        font-size: 50%;
    }
    @media only screen and(max-width: $bp-medium){
        font-size: 40%;
    }
    @media only screen and(max-width: $bp-small){
        font-size: 35%;
    }
}

body{
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    font-size: 2.2rem;
    color: $color-white;
    background-color: $color-background;
    width: 100%;
}
button {
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
.container{
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: calc(100vh - 12rem) 12rem;
    grid-template-columns: 1fr;
    justify-items: center;
    animation: showUp .7s ease-in;
    text-align: center;

    @media only screen and (orientation:landscape) and (max-width: $bp-large)  {
        grid-template-rows: minmax(calc(100vh - 12rem), max-content) 12rem;
    }
    
}
.content{  
    grid-row: 1/2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}




::selection {
    background-color: $color-white;
    color: $color-background;
}

