*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-size: 62.5%;

  @media only screen and(max-width: $bp-1500) {
    font-size: 50%;
  }
  @media only screen and(max-width: $bp-900) {
    font-size: 40%;
  }
  @media only screen and(max-width: $bp-450) {
    font-size: 35%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
  font-size: 2.2rem;
  color: $color-white;
  background-color: $color-background;
  width: 100%;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;

  display: grid;
  grid-template-rows: 13rem 12rem calc(100vh - 37rem) 12rem;
  grid-template-columns: 1fr;
  justify-items: center;

  animation: showUp 0.7s ease-in;

  text-align: center;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.85)
    ),
    url('../../img/background.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @media only screen and (max-width: $bp-1400) {
    grid-template-rows: 13rem 10rem calc(100vh - 33rem) 10rem;
  }
  @media only screen and (max-width: $bp-1120) {
    grid-template-rows: 13rem 15rem calc(100vh - 40rem) 12rem;
  }
  @media only screen and (max-width: $bp-600) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.8),
        rgba($color-black, 0.75)
      ),
      url('../../img/background.jpg');
  }

  //when landscape view and width is no bigger than 900px, otherwords, phone-landscape
  @media only screen and (orientation: landscape) and (max-width: $bp-1120) {
    grid-template-rows: 13rem 15rem minmax(calc(100vh - 40rem), max-content) 12rem;
  }

  &--animated {
    &::before {
      content: '';
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      display: block;
      width: 100vw;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Quicksand', 'Yanone Kaffeesatz', sans-serif;
      font-size: 10rem;
      font-weight: 900;

      background-image: linear-gradient(
        to right bottom,
        rgba(#1a53ff, 1),
        rgba(#000060, 1)
      );

      animation: pseudoWelcome 4s ease-in-out 1s both;
    }
  }
}
.content {
  grid-row: 3 / 4;
  width: 100%;
  margin: 2rem;
  margin-top: 0;
  padding: 1rem 20rem;

  @media only screen and(max-width: $bp-1120) {
    padding: 1rem 10rem;
  }
  @media only screen and(max-width: $bp-750) {
    margin: 0;
    padding: 0 5rem;
  }
  @media only screen and(max-width: $bp-600) {
    padding: 0 3rem;
  }

  &--welcomePage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &--skillPage {
    display: grid;
    grid-template-rows: 5rem repeat(4, 1fr);

    align-items: center;
    justify-items: center;

    @media only screen and (max-width: $bp-1400) {
      margin-bottom: 0;
      grid-template-rows: 4rem repeat(4, 1fr);
      align-items: end;
    }
    @media only screen and (max-width: $bp-1120) {
      margin-bottom: 2rem;
      grid-template-rows: 10rem repeat(4, 1fr);
      align-items: center;
    }
    @media only screen and (max-width: $bp-450) {
      grid-template-rows: 15rem repeat(4, 1fr);
    }
  }
  &--projectPage {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    justify-items: center;
    padding: 1rem 10rem;

    @media only screen and (max-width: $bp-600) {
      padding: 1rem 3rem;
    }
    @media only screen and (max-width: $bp-450) {
      padding: 0;
    }
  }
  &--contactPage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

::selection {
  background-color: $color-white;
  color: $color-background;
}

a {
  color: $color-white;
}
