*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
html{
    font-size: 62.5%;

    @media only screen and(max-width: $bp-largest){
        font-size: 55%;
    }
    @media only screen and(max-width: $bp-large){
        font-size: 50%;
    }
    @media only screen and(max-width: $bp-medium){
        font-size: 40%;
    }
    @media only screen and(max-width: $bp-small){
        font-size: 35%;
    }
}

body{
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    font-size: 2.2rem;
    color: $color-white;
    background-color: $color-background;
    width: 100%;
}
button {
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
.container{
    margin: 0 auto;

    display: grid;
    grid-template-rows: 13rem calc(100vh - 25rem) 12rem;
    grid-template-columns: 1fr;
    justify-items: center;

    animation: showUp .7s ease-in;

    text-align: center;
    background-image: linear-gradient(to right bottom,
        rgba($color-black, .9),
        rgba($color-black,.85)),
        url('../img/background.jpg');   
    background-size: cover;
    background-position: center;

    //when landscape view and width is no bigger than 900px, otherwords, phone-landscape
    @media only screen and (orientation:landscape) and (max-width: $bp-large)  {
        grid-template-rows: 13rem minmax(calc(100vh - 25rem), max-content) 12rem;
    }
    
}
.content{  
    grid-row: 2/3;
    width: 100%;
    margin: 2rem;
    padding: 1rem 20rem;

    &--welcomePage{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &--skillPage{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }
    &--projectPage{
        
    }
    &--contactPage{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}




::selection {
    background-color: $color-white;
    color: $color-background;
}

