$color-white: #fff;
$color-white-2: #f1f2f6;
$color-white-3: #dfc4ea;
$color-black: #000;

$color-background: #222222;

//breakpoints

$bp-1500: 93.75em; //1500 width - IMPORTANT CHANGE
$bp-1400: 87.5em; //1300 width - smaller Laptop layouts
$bp-1120: 70em; //1120 width - font size on mainpage list and padding changed, changed arrows width
$bp-900: 56.25em; //900width - fullpage fontsize, removed card hover
$bp-750: 46.875rem; //750width - fullpage fontsize,
$bp-600: 37.5em; //600width - contact page inputs width,
$bp-450: 28.125em; //450width
$bp-350: 21.875em; //350width

$bp-height: 50em;
$bp-height-landscape: 28.125em; //450height for landscape view
