$color-white: #fff;
$color-white-2: #f1f2f6;
$color-white-3: #dfc4ea;
$color-black: #000;


$color-background: #222222;


//breakpoints

$bp-largest: 87.5em;            //1400 width
$bp-large: 56.25em;      //900 width, for project images mainly
$bp-medium: 43.75rem;       //700width
$bp-small: 37.5em;          //600width
$bp-smallest: 25em;         //400width
