.about-me{
    display: flex;
    flex-direction: column;
    word-wrap: wrap;

    &__list{
        list-style-type: none;
        text-align: center;
        color: $color-white-2;
    }

    &__item{
        letter-spacing: .3rem;
        margin-bottom: .5rem;

        &--answer{
            margin-left: .8rem;
            color: $color-white-3;
        }

        &:last-child{
            margin-bottom: 7rem;
        }
    }

    &__info{
       padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    &__text{
        justify-self: center;
        align-self: center;
        margin-top: -2.5rem;
        margin-right: 2rem;
        max-width: 70rem;
    }

    &__photo{
   
        display: flex;
        flex-direction: column;
    }
}