.about-me{
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
    margin-bottom: 3rem;

    &__list{
        list-style-type: none;
        text-align: center;
        color: $color-white-2;
    }

    &__item{
        letter-spacing: .3rem;
        margin-bottom: .5rem;

        &--answer{
            margin-left: .8rem;
            color: $color-white-3;
        }
    }

    &__info{
        padding: 1.5rem;
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;

    }

    &__text{
        justify-self: center;
        align-self: center;
        margin-right: 2.5rem;
        max-width: 70rem;
    }

    &__photo{
        display: flex;
        flex-direction: column;
    }
}