.card{
    display: inline-block;
    height: 10rem;
    width: 90rem;
    margin-bottom: 1.5rem;

    @media only screen and(max-width: $bp-small){
        width: 80%;
    }
    
    perspective: 150rem;
    -moz-perspective: 150rem;

    transition: all .9s ease;

    &__flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__side{
        height: 10rem;
        width: 90rem;


        padding: .1rem 5rem;
        border-radius: .5rem;
        position: absolute;
        top:0;
        left:0;
        width:100%;

        transition: all .9s ease;
        backface-visibility: hidden;
        

        &--front{         
            transition: all .9s ease;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            
            @media only screen and(max-width: $bp-small){
                display: none;
            }

            &-header{
                font-size: 3.5rem;
                letter-spacing: .2rem;
                font-family: 'Quicksand', sans-serif;      
                font-weight: 900;  
                
                
            }
            &-image{
                fill: white;
                height: 9rem;
                width: 9rem;  
                align-self: center;   
                
                &--js{
                    height: 8.5rem;
                    width: 8.5rem;  
                }
                @media only screen and(max-width: $bp-small){
                    margin-right: -4rem;
                }
            }

        }

        &--back{   
            transform: rotateX(180deg); 
            display: none;              
            text-align: left;
            font-size: 1.6rem;
            width:100%;
            height: 100%;
           
            display: flex;
            justify-content: space-between;

            transform: rotateX(180deg);
            transition: all .9s ease;
           
            @media only screen and(max-width: $bp-small){
                transform: rotateX(0);
                transition: all 0;
            }
          
            &__list{
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media only screen and(max-width: $bp-small){
                    margin-left: -2rem;
                }
            }
            &__link{
                &:visited,
                &:link{
                    color: $color-white;
                }
            }
        }
    }


    &:hover &__side--front{
        transform: rotateX(-180deg);
       
        @media only screen and(max-width: $bp-small){
            transform: none;
        }
    }
    &:hover &__side--back{
        transform: rotateX(0);
        
        @media only screen and(max-width: $bp-small){
            transform: none;
        }
    }
}

.background{

    &-html{
        background-image: linear-gradient(to right bottom, 
        rgba(red,.7),
        rgba($color-black,.7));
    }
    &-css{
        background-image: linear-gradient(to right bottom, 
        rgba(#0c28a6,.7),
        rgba(#60c0e0,.7));
    }
    &-sass{
        background-image: linear-gradient(to right bottom,
        rgba(#db37cb,.7),
        rgba($color-black,.7));
    }
    &-js{
        background-image: linear-gradient(to right bottom,
        rgba(#c7bd0a,.7),
        rgba($color-black,.7));
    }
}