.card {
  display: inline-block;
  width: 85rem;

  @media only screen and(max-width: $bp-750) {
    width: 80%;
    margin-bottom: 1rem;
  }
  @media only screen and(max-width: $bp-450) {
    width: 95%;
  }
  perspective: 150rem;
  -moz-perspective: 150rem;
  transition: all 0.9s ease;

  &__side {
    width: 85rem;

    padding: 0.1rem 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @media only screen and(max-width: $bp-750) {
      padding: 0 1.5rem;
      padding-left: 5rem;
    }
    @media only screen and(max-width: $bp-450) {
      padding: 0 0.5rem;
      padding-left: 5rem;
    }

    transition: all 0.9s ease;
    backface-visibility: hidden;

    &--front {
      position: relative;

      transition: all 0.9s ease;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and(max-width: $bp-900) {
        display: none;
      }
      @media only screen and (orientation: landscape) and (max-width: $bp-1120) {
        display: none;
      }

      &-header {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
        font-family: "Quicksand", sans-serif;
        font-weight: 900;
      }
      &-image {
        height: 9rem;
        width: 9rem;
        align-self: center;

        @media only screen and(max-width: $bp-450) {
          height: 8rem;
          width: 8rem;
          margin-right: 1rem;
        }

        &--js {
          height: 8.5rem;
          width: 8.5rem;

          @media only screen and(max-width: $bp-450) {
            height: 7.5rem;
            width: 7.5rem;
          }
        }
      }
    }

    &--back {
      transform: rotateX(180deg);
      display: none;
      text-align: left;
      font-size: 1.6rem;

      display: flex;
      justify-content: space-between;

      transform: rotateX(180deg);
      transition: all 0.9s ease;

      @media only screen and(max-width: $bp-900) {
        transform: rotateX(0);
        transition: all 0;
      }
      @media only screen and(max-width: $bp-750) {
        width: 100%;
      }
      @media only screen and (orientation: landscape) and (max-width: $bp-1120) {
        transform: rotateX(0);
        transition: all 0;
      }

      &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media only screen and(max-width: $bp-900) {
          margin-left: -2rem;
          padding: 1.5rem 0;
        }
      }
      &__link {
        &:visited,
        &:link {
          color: $color-white;
        }
      }
    }
  }

  &:hover &__side--front {
    transform: rotateX(-180deg);

    @media only screen and(max-width: $bp-900) {
      transform: none;
    }
    @media only screen and (orientation: landscape) and (max-width: $bp-1120) {
      transform: none;
    }
  }
  &:hover &__side--back {
    transform: rotateX(0);

    @media only screen and(max-width: $bp-900) {
      transform: none;
    }
    @media only screen and (orientation: landscape) and (max-width: $bp-1120) {
      transform: none;
    }
  }

  &--node {
    animation: showUp 0.7s ease-in 0.5s both;
  }
  &--css {
    animation: showUp 0.7s ease-in 1.2s both;
  }
  &--react {
    animation: showUp 0.7s ease-in 1.9s both;
  }
  &--db {
    animation: showUp 0.7s ease-in 2.6s both;
  }
}

.background {
  &-css {
    background-image: linear-gradient(
      to right bottom,
      rgba(#000060, 0.9),
      rgba(#1a53ff, 0.9)
    );
  }
  &-react {
    background-image: linear-gradient(
      to right bottom,
      rgba(#1a53ff, 0.9),
      rgba(#000060, 0.9)
    );
  }
  &-node,
  &-db {
    background-image: linear-gradient(
      to right bottom,
      rgba(#002000, 0.9),
      rgba(#008d00, 0.9)
    );
  }
  &-db {
    background-image: linear-gradient(
      to right top,
      rgba(#002000, 0.9),
      rgba(#008d00, 0.9)
    );
  }
}

.card__header {
  animation: showUp 0.5s ease-in 3.3s both;
  width: 100%;
  font-size: 2.2rem;

  @media only screen and (max-width: $bp-1400) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $bp-1120) {
    font-size: 2.2rem;
  }
  @media only screen and (max-width: $bp-450) {
    font-size: 1.8rem;
  }
}
