.header{
    margin-bottom: 1rem;
    margin-top: 1.5rem;


    &__heading-primary{
        font-family: 'Quicksand', sans-serif;      
        font-weight: 100;
        font-size: 6rem;
        letter-spacing: .5rem;

        @media only screen and (max-height: $bp-height){
            font-size: 5rem;
        }
    }

}