.is-active{
    font-weight: 900;
    color: $color-white-2 !important;
    padding: .5rem;
    border-bottom: .2rem solid $color-white;
}

.nav{
    width: 80%;
    grid-row: 2/3;
    align-self: end;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    border-top: 1px solid $color-white;

    
    &__item{
        font-size: 2.5rem;      
        font-family: 'Quicksand', sans-serif;


        @media only screen and(max-width: $bp-smallest){
            font-size: 1.8rem;
        }

        &:link,
        &:visited{
            color: $color-white;
            text-decoration: none;
            
        }

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
}