.project{
    grid-column: 2 / 3;
    margin: 0;
    padding: 1rem;
    max-width: 60rem;

    display: flex;
    flex-direction: column;

    &__info{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $color-white-3;
        margin-bottom: 1rem;
    }

    &__title{
        text-align: left;
        padding: 0 .5rem;
        flex: 1 0 0;
    }
    &__link{
        transition: all .4s;
        padding: 0 1.5rem;

        &:link,
        &:visited{
            color: $color-white-3;
            font-weight: 900;
            text-decoration: none;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
    &__img{
        height: auto;
        border-radius: 3px;

    }
  

    //arrows left and right
    &__btn{
        height: 10rem;
        width: 10rem;
        fill: #3C873A;
        background: none;
        border: none;
        cursor: pointer;

        transition: all .2s;
        &:focus{
            outline: none;
        }
        &:active{
            transform: translateY(-.3rem) scale(0.95);
        }
    }
}