.header {
  align-self: center;
  width: 100%;
  align-self: end;
  background-color: $color-black;
  position: relative;

  &__heading-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 6rem;
    letter-spacing: 0.5rem;

    @media only screen and (max-width: $bp-450) {
      font-size: 5rem;
      padding: 1rem 0;
    }
    @media only screen and (max-width: $bp-350) {
      font-size: 4.5rem;
      padding: 1.2rem 0;
    }
  }

  @media only screen and (max-width: $bp-350) {
    margin-top: 0;
  }

  position: relative;
  z-index: 1;

  &::after,
  &::before {
    content: '';
    background-color: $color-black;
    position: absolute;
    height: 100%;
    width: 50%;

    z-index: 10;
    animation: welcomeAnimation 7s ease-in-out 0s both;

    @media only screen and (max-width: $bp-600) {
      animation: welcomeAnimation 2.5s ease-in-out 0s both;
    }
  }
  &::after {
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--delayed {
    &::after,
    &::before {
      animation: welcomeAnimation 5s ease-in-out 3.5s both;
    }
  }
  &--mobile {
    animation: none;
    &::after,
    &::before {
      animation: none;
      display: none;
    }
  }

  &__select {
    cursor: pointer !important;
    position: absolute !important;
    right: 3rem;
    top: 2rem;
    width: 9rem;
    height: 5rem;
    border: none !important;
    background-color: inherit !important;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-1120) {
      top: 1rem;
    }
    @media only screen and (max-width: $bp-600) {
      display: none;
    }

    &:focus,
    &:active {
      background-color: hsl(271, 23%, 6%) !important;
      border: none !important;
    }
    &__lang {
      height: 4rem !important;
      width: 4rem !important;
      cursor: pointer !important;
    }
  }
  &__langBtns {
    position: absolute !important;
    right: 3rem;
    top: 0;
    width: 4rem;
    height: 8rem;
    padding-top: -2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
      width: 3rem;
      height: 2rem;
      margin: 0.6rem 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;

      transition: transform 0.2s box-shadow 1s;

      &__img {
        width: 100%;
        height: 2.2rem;
      }

      &:active,
      &:focus {
        transform: translateY(0.2rem);
        box-shadow: 0 2rem 4rem rgba($color-white, 0.8);
        outline: none;
      }
    }
  }
}
@media only screen and(max-width: $bp-600) {
  .header__select:focus-within + .info,
  .header__select:focus + .info,
  .header__select:active + .info {
    color: transparent;
  }
}
.css-g1d714-ValueContainer {
  padding: 0 !important;
  border: none !important;
  background-color: inherit !important;
  cursor: pointer !important;
  height: 5rem;
  width: 5rem;

  &:focus,
  &:active {
    background-color: hsl(271, 23%, 6%) !important;
    border: none !important;
  }
}
.css-yk16xz-control,
.css-1pahdxg-control {
  background-color: inherit !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer !important;

  &:focus,
  &:hover {
    background-color: hsl(271, 23%, 6%) !important;
  }
}
.css-1hb7zxy-IndicatorsContainer {
  width: 4rem !important;
  padding: 0 !important;

  @media only screen and (max-width: $bp-450) {
    width: 4.5rem !important;
  }
}
#root
  > div
  > div
  > header
  > div
  > div
  > div.css-1hb7zxy-IndicatorsContainer
  > div {
  padding: 8px !important;

  @media only screen and (max-width: $bp-600) {
    padding: 2px !important;
  }
}
.css-1uccc91-singleValue {
  height: 5rem;
  width: 5rem;
  padding-top: 0.2rem !important;
}
.css-1hb7zxy-IndicatorsContainer > span {
  display: none !important;
}
