.header {
  margin-top: 1.5rem;
  align-self: center;
  width: 100%;
  align-self: end;
  background-color: $color-black;

  &__heading-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 6rem;
    letter-spacing: 0.5rem;
  }

  position: relative;
  z-index: 1;

  &::after,
  &::before {
    content: '';
    background-color: $color-black;
    position: absolute;
    height: 100%;
    width: 50%;

    z-index: 10;
    animation: welcomeAnimation 7s ease-in-out 0s both;
  }
  &::after {
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--delayed {
    &::after,
    &::before {
      animation: welcomeAnimation 5s ease-in-out 3.5s both;
    }
  }
}
