.project {
  grid-column: 2 / 3;
  margin: 0;
  padding: 1rem;
  max-width: 60rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  animation: showUp 1.5s ease-in 2.5s both;

  &__info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-white-3;
    margin-bottom: 1rem;
  }
  &__title {
    text-align: left;
    padding: 0 0.5rem;
    flex: 1 0 0;
  }
  &__link {
    transition: all 0.4s;
    padding: 0 1.5rem;

    &:link,
    &:visited {
      color: $color-white-3;
      font-weight: 900;
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  //FIXME: responsive image
  &__img {
    border-radius: 3px;
  }

  //arrows left and right
  &__btn {
    height: 10rem;
    width: 10rem;
    fill: #3c873a;
    background: none;
    border: none;
    cursor: pointer;

    transition: all 0.2s;

    &--right {
      animation: arrowRight 4s ease-in-out 0.5s both;
    }
    &--left {
      animation: arrowLeft 4s ease-in-out 0.5s both;
    }

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(-0.3rem) scale(0.95);
    }
  }
}
