.carousel-root {
  max-width: 72rem;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-600) {
    max-width: 62rem;
  }
  @media only screen and (max-width: $bp-450) {
    width: 100%;
    padding: 2rem;
  }
  @media only screen and (max-width: $bp-350) {
    max-width: 52rem;
  }
}

.slide {
  background: none !important;
}
.carousel-status {
  display: none !important;
}
.control-dots {
  position: relative !important;
  margin-top: 3rem !important;
}
.selected {
  &:active,
  &:focus-within,
  &:focus {
    outline: none !important;
  }
}

.project {
  display: grid;
  align-items: center;

  animation: showUp 1.5s ease-in 0.5s both;
  transition: all 0.4s;

  &__info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-white-3;
    margin-bottom: 1rem;

    &--small {
      margin-bottom: 0;
      justify-content: center;
      border-bottom: none;
    }
  }
  &__title {
    text-align: left;
    padding: 0 0.5rem;
    flex: 1 0 0;

    &--small {
      padding: 0 0.5rem;

      height: 4rem;
      width: 4rem;
      fill: #3c873a;
    }
  }
  &__link {
    transition: all 0.4s;
    padding: 0 1.5rem;

    &--small {
      display: none;
    }

    &:link,
    &:visited {
      color: $color-white-3;
      font-weight: 900;
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &__techs {
    position: relative;
  }
  &__technologies {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;

    z-index: -1;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 2rem;

    transform: translateX(-50%);

    transition: all 0.1s;

    &__imgHover {
      object-fit: cover;
      height: 10rem !important;
      width: 10rem !important;

      &--small {
        object-fit: cover;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__techs:hover > &__technologies {
    display: grid;
    z-index: 3;

    background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.85)
    );

    transition: all 0.1s;
  }

  &__development {
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0;

    border: 1px solid $color-black;
    border-bottom: none;
    border-right: none;
    padding: 0.6rem 1.7rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(#1a53ff, 1),
      rgba(#000060, 1)
    );
  }
}
