.project {
  grid-column: 2 / 3;
  margin: 0;
  padding: 1rem;
  max-width: 60rem;
  margin-bottom: 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  animation: showUp 1.5s ease-in 2.5s both;

  @media only screen and(max-width: $bp-600) {
    padding: 2.5rem;
  }
  @media only screen and(max-width: $bp-450) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    padding: 0;
  }

  &__info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-white-3;
    margin-bottom: 1rem;
  }
  &__title {
    text-align: left;
    padding: 0 0.5rem;
    flex: 1 0 0;
  }
  &__link {
    transition: all 0.4s;
    padding: 0 1.5rem;

    &:link,
    &:visited {
      color: $color-white-3;
      font-weight: 900;
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &__techs {
    position: relative;
  }
  &__technologies {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.85)
    );
    z-index: -1;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 3rem;

    transform: translateX(-50%);

    &__imgHover {
      object-fit: cover;
      height: 12rem;
      width: 12rem;
    }
  }
  &__img {
    width: 100%;
    border-radius: 3px;
  }
  &__techs:hover > &__technologies {
    display: grid;
    z-index: 3;
  }

  //arrows left and right
  &__btn {
    height: 10rem;
    width: 10rem;
    fill: #3c873a;
    background: none;
    border: none;
    cursor: pointer;

    @media only screen and(max-width: $bp-600) {
      height: 6rem;
      width: 6rem;
    }
    @media only screen and(max-width: $bp-450) {
      height: 10rem;
      width: 10rem;
    }

    transition: all 0.2s;

    &--right {
      grid-column: 3 / 4;
      animation: arrowRight 4s ease-in-out 0.5s both;

      @media only screen and(max-width: $bp-450) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        align-self: start !important;
      }
    }
    &--left {
      grid-column: 1 / 2;
      animation: arrowLeft 4s ease-in-out 0.5s both;

      @media only screen and(max-width: $bp-450) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        justify-self: flex-start;
      }
    }

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(-0.3rem) scale(0.95);
    }
  }
}
