.skillsPage {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 13rem);
  align-items: center;
  justify-items: center;

  @media only screen and (max-width: $bp-1120) {
    grid-template-rows: repeat(4, 20rem);
  }
  @media only screen and (max-width: $bp-600) {
    grid-template-rows: repeat(4, 15rem);
  }
  @media only screen and (max-width: $bp-350) {
    grid-template-rows: repeat(4, 12rem);
  }
}
